@using ApiClient
@using BlazorExtensions.Services.JsInterop
@using Microsoft.AspNetCore.Components.Web.Virtualization
@inject IAssetsApiClient _assetsApi
@inject IJsModulesProvider _jsModulesProvider

<div class="modal" style="display: @_displayModal">
    <div class="modal-content">
        @if (_displayContent)
        {
            <div class="modal-header">
                <h3 class="header">@Header</h3>
                <span class="oi oi-x close" @onclick="(args) => Close()"></span>
            </div>
            <div class="modal-body" @ref="_body">
                @if(_firstFetch)
                {
                    <Preloader></Preloader>
                }
                <Virtualize @ref="_virtualizeRef" ItemsProvider="@LoadAssetsAsync" Context="urls" ItemSize="@AssetItemSize" OverscanCount="1">
                    <ItemContent>
                        @foreach(string url in urls)
                        {
                            <AssetItem 
                                ImageUrl="@url" 
                                Size="@ItemSize" 
                                Margin="@ItemMargin" 
                                Selected="@SelectItem"
                                Unselected="@UnselectItem">
                            </AssetItem>
                        }
                    </ItemContent>
                    <Placeholder>
                        @for (int i = 0; i < _columnCount; i++)
                        {
                            <div class="asset-item-placeholder" style="width: @(ItemSize)px; height: @(ItemSize)px;  margin: @(ItemMargin)px;">
                                <img class="asset-item-placeholder-image" src="./_content/BlazorExtensions/preloader2.gif" />
                            </div>
                        }
                    </Placeholder>
                </Virtualize>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-upload" @onclick="async (args) => await Reload(args)">
                    <span class="oi oi-data-transfer-upload"></span>
                    Upload
                </button>
                <button class="btn btn-primary" disabled="@(!IsSubmitEnabled)">
                    <span class="oi oi-check"></span>
                    Submit
                    </button>
            </div>
        }
    </div>
</div>

@code {
    private const string DisplayNone = "none";
    private const string DisplayBlock = "block";
    private const float ItemSize = 225;
    private const float ItemMargin = 5;

    private string _displayModal = DisplayNone;
    private bool _displayContent = false;
    private bool _isSubmitEnabled = false;
    private Virtualize<IEnumerable<string>> _virtualizeRef;
    private ElementReference _body;
    private int _columnCount;
    private bool _firstFetch = true;
    private AssetItem? _selectedItem;

    private JsModule _jsModule = default!;

    [Parameter]
    public string Header { get; set; } = string.Empty;

    public void Open()
    {
        _displayModal = DisplayBlock;
        _displayContent = true;
        _firstFetch = true;
        StateHasChanged();
    }

    public void Close()
    {
        _displayModal = DisplayNone;
        _displayContent = false;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await InitJsModule();
        await base.OnInitializedAsync();
    }

    private Task<int> ColumnCount
    {
        get
        {
            return _jsModule.Module!.InvokeAsync<float>("getElementWidth", _body)
                .AsTask()
                .ContinueWith(bodyWidth =>
                {
                    _columnCount = (int)(bodyWidth.Result / AssetItemSize);

                    return _columnCount;
                });
        }
    }

    private float AssetItemSize
    {
        get
        {
            return ItemSize + 2 * ItemMargin;
        }
    }

    private AssetItem? SelectedItem
    {
        get
        {
            return _selectedItem;
        }
        set
        {
            _selectedItem = value;
            IsSubmitEnabled = _selectedItem != null;
        }
    }

    private bool IsSubmitEnabled
    {
        get
        {
            return _isSubmitEnabled;
        }
        set
        {
            if (_isSubmitEnabled == value)
            {
                return;
            }

            _isSubmitEnabled = value;
            StateHasChanged();
        }
    }

    private async Task Reload(MouseEventArgs e)
    {
        await _virtualizeRef.RefreshDataAsync(); 
        StateHasChanged();
    }

    private async ValueTask<ItemsProviderResult<IEnumerable<string>>> LoadAssetsAsync(ItemsProviderRequest request)
    {
        int columnCount = await ColumnCount;
        ICollection<AssetDto> assetInfos = await _assetsApi.ListAssetsAsync();
        int rowCount = (int)Math.Ceiling(assetInfos.Count / (float)columnCount);

        var rows = await Task.WhenAll(assetInfos
            .Chunk(columnCount)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(async infoRow => await Task.WhenAll(infoRow
                .Select(async info =>
                {
                    using MemoryStream content = await LoadAssetContentAsync(info.StorageId);

                    return await _jsModule.Module!.InvokeAsync<string>("getImageUrl", content.ToArray());
                }))));

        if(_firstFetch)
        {
            _firstFetch = false;
            StateHasChanged();
        }

        return new ItemsProviderResult<IEnumerable<string>>(rows, rowCount);
    }

    private async Task<MemoryStream> LoadAssetContentAsync(string storageId)
    {
        using FileResponse response = await _assetsApi.GetAssetContnetAsync(storageId);
        var result = new MemoryStream();
        response.Stream.CopyTo(result);

        return result;
    }

    private void SelectItem(AssetItem item)
    {
        if (SelectedItem != null)
        {
            SelectedItem.IsSelected = false;
        }

        SelectedItem = item;
    }

    private void UnselectItem(AssetItem item)
    {
        SelectedItem = null;
    }

    private async Task InitJsModule()
    {
        _jsModule = _jsModulesProvider.AssetManager;
        await _jsModule.LoadingTask;
    }
}
