@page "/editor"
@page "/editor/{DesignName}"
@using ApiClient
@using BlazorExtensions
@using BlazorExtensions.Commands
@using BlazorExtensions.Models
@using BlazorExtensions.Services
@using DesignViewer.Client.Models
@using Google.Protobuf
@using Model.Design
@using Model.Design.Math
@using Model.Design.Appearance
@using Model.Design.Content
@using Model.Design.Appearance.Color
@using Model.Design.Content.Controls
@inject IDesignsApiClient _designsApiClient
@inject IElementFactory _elementFactory

<PageTitle>Editor</PageTitle>

<h1>Editor</h1>

<AssetManager @ref="_assetManager" Header="Select image:" Submited="OnAssetSelected"></AssetManager>

<div style="margin-bottom: 5px">
    <ColorPicker Width="300" IsVisible="@_isColorPickerVisible" @bind-Color="Color"></ColorPicker>
</div>

<div style="
    border: none;
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;">
    <button class="btn btn-outline-primary" style="
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0 15px 0 0;" @onclick="(args) => _assetManager.Open()">
        <span class="oi oi-image"></span>
    </button>
    <DesignViewer 
        Width="700" 
        Height="480" 
        ArtboardScrollMargin="@(new Sides(150))"
        SelectedElementChangedParameter="@OnSelectedElementChanged"
        @ref="_designViewer"></DesignViewer>
</div>

<EditForm Model="@_saveDesignModel" 
    OnValidSubmit="@HandleSaveDesignSubmitAsync" 
    OnInvalidSubmit="@HandleSaveDesignInvalidSubmit"
    style="margin: 1em">
    <InputText @bind-Value="_saveDesignModel.Name"/>

    <button class="btn btn-light" type="submit">Save</button>

    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <p>
        <label style="margin: 1em 0">@_saveFormMessage</label>
    </p>
</EditForm>

@code {
    private const string ErrorMessage = "An error has occured";
    private const string SaveMessage = "File \"{0}\" has been successfully saved";
    private const string UpdateMessage = "File \"{0}\" has been successfully updated";

    private IDesignViewer _designViewer;
    private AssetManager _assetManager = default!;
    private SaveDesignModel _saveDesignModel = new();
    private bool _isColorPickerVisible = false;
    private string _saveFormMessage = "";
    private Color _color;

    private Color Color
    {
        get 
        {
            return _color;
        }
        set
        {
            _color = value;
            _designViewer.SelectedElementFillColor = _color;
        }
    }

    [Parameter]
    public string? DesignName { get; set; }

    private void OnSelectedElementChanged(Element? element)
    {
        if(_designViewer.SelectedElementFillColor == null)
        {
            _isColorPickerVisible = false;
            return;
        }

        Color = _designViewer.SelectedElementFillColor;
        _isColorPickerVisible = true;
    }

    protected override async Task OnParametersSetAsync()
    {
        if(DesignName == null)
        {
            return;
        }

        var response = await _designsApiClient.GetDesignContentAsync(DesignName);
        Design design = Design.Parser.ParseFrom(response.Stream);

        _designViewer.Design = design;
        _designViewer.CurrentSurfaceIndex = 0;

        _saveDesignModel.Name = DesignName;

        await base.OnParametersSetAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender && DesignName == null)
        {
            Design design = Design.CreateBlank();
            _designViewer.Design = design;
            _designViewer.CurrentSurfaceIndex = 0;
        }

        base.OnAfterRender(firstRender);
    }

    private async Task HandleSaveDesignSubmitAsync()
    {
        try
        {
            var designStream = new MemoryStream();
            _designViewer.Design.WriteTo(designStream);
            designStream.Position = 0;
            var designFile = new FileParameter(designStream);

            DesignDto result;

            if(string.IsNullOrEmpty(_saveDesignModel.Name))
            {
                result = await _designsApiClient.UploadDesignAutoNameAsync(designFile);
                _saveFormMessage = string.Format(SaveMessage, result.Name);
                return;
            }

            var designs = await _designsApiClient.ListDesignsAsync();
            var designNames = designs.Select(x => x.Name);
            if (designNames.Contains(_saveDesignModel.Name))
            {
                result = await _designsApiClient.UpdateDesignAsync(_saveDesignModel.Name, designFile);
                _saveFormMessage = string.Format(UpdateMessage, result.Name);
                return;
            }

            result = await _designsApiClient.UploadDesignAsync(_saveDesignModel.Name, designFile);
            _saveFormMessage = string.Format(SaveMessage, result.Name);
        }
        catch
        {
            _saveFormMessage = ErrorMessage;
        }
    }

    private void HandleSaveDesignInvalidSubmit()
    {
        _saveFormMessage = "";
    }

    private void OnAssetSelected(Asset asset)
    {
        Element image = _elementFactory.CreateImage(
            asset.Info.StorageId, 
            new Point(0, 0),
            Affine2DMatrix.CreateScale(0.5f));

        _designViewer.ExecuteCommand(
            new CompositeCommand(
                new AddElementCommand(image),
                new ChangeSelectionCommand(image)));
    }
}
